$primary-color: #4DC394;
$primary-color-dark: #2DA374;
$secundary-color:#555;
$selected-color: #4DC394;
$unselected-color: #FFF;

@mixin border($color,$width) {
  border: #{$width}px solid #{$color};
}

@mixin rotate($degrees){
    -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
    -moz-transform: rotate($degrees); /* IE 9 */
    -ms-transform: rotate($degrees); /* IE 9 */
    transform: rotate($degrees);
}

@mixin translate($tx,$ty){
    -webkit-transform: translate($tx,$ty); /* Chrome, Safari, Opera */
    -moz-transform: translate($tx,$ty); /* IE 9 */
    -ms-transform: translate($tx,$ty); /* IE 9 */
    transform: translate($tx,$ty);
}

@mixin transition{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html,body{
	background: url('../img/back-pattern.jpg'); 
	background-repeat: repeat;
	height: 100%;
	margin: 0;
	min-width: 500px;
}

a{
	color: $primary-color;
}

hr{
	@include border($secundary-color, 1);
}

aside{
	background: $secundary-color;
	opacity: 0.8;
}

form{
	max-width: 500px;
	label{
		width: 100%;
	}	
	input{
		width: 100%;
	}
}

.container-fluid,.wrapper{
	height: 100%;
}

.page{
	padding: 20px;
}

.tab{
	color: $unselected-color;
	display: inline-block;
	margin: 0;
	padding: 10px;
	&.selected{
		color: $selected-color;
	}
}

.btn-primary{
	background-color: $primary-color;
	@include border($primary-color-dark,1);
	&:hover{
		background-color: $primary-color-dark;
		@include border($primary-color-dark,1);
	}
}

@media(min-width:768px){
	aside{
		@include transition;
		background: $secundary-color;
		height: 100%;
		opacity: 1;
		padding: 20px;
		position: relative;
		img{
			@include transition;
			@include translate(0,-50%);
			cursor: pointer;
			position: absolute;
			right: 0px;
			top: 50%;
			width: 32px;
		}
	}

	.page{
		@include transition;
	}
	
	.tab{
		display: block;
		font-size: 1.5em;
	}
}