<a href="#/admin/new" class="btn btn-primary"> New User </a>
<hr />
<table class='table stripped'> 
	<thead> 
		<tr> 
			<th>Name</th> 
			<th>Last Name</th> 
			<th>User</th> 
			<th>Email</th>
			<th></th>
		</tr> 
	</thead> 
	<tbody> 	
		<% _.each(users, function(user) { %>
			<tr>
				<td><%= user.get('name') %></td>
				<td><%= user.get('lastName') %></td>
				<td><%= user.get('user') %></td>
				<td><%= user.get('email') %></td>
				<td><a href="#/admin/edit/<%= user.id %>" class="btn">Edit</a></td>
			</tr>
		<% }) %>		
	</tbody> 
</table>