<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone example, trivia</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/default.css">
</head>  
<body>
	<div class="container">
		<h2 class="selected" id="trivia_tab">Trivia Manager</h2>
		<h2 id="user_tab">User Manager</h2>
		<hr />
		<div class="page"></div>
	</div>

	<script type="text/template" id="questionListTemplate">
		<a href="#/new" class="btn btn-primary"> New Question </a>
		<hr />
		<table class='table stripped'> 
			<thead> 
				<tr> 
					<th>Description</th> 
					<th>Answer</th> 
					<th>Option1</th> 
					<th>Option2</th> 
					<th>Option3</th> 
				</tr> 
			</thead> 
			<tbody> 	
				<% _.each(questions, function(question) { %>
					<tr>
						<td><%= question.get('description') %></td>
						<td><%= question.get('answer') %></td>
						<td><%= question.get('option1') %></td>
						<td><%= question.get('option2') %></td>
						<td><%= question.get('option3') %></td>
						<td><a href="#/edit/<%= question.id %>" class="btn">Edit</a></td>
					</tr>
				<% }) %>		
			</tbody> 
		</table>
	</script>
	<script type="text/template" id="editQuestionTemplate">
		<form class="edit-question-form">
			<legend><%= question ? 'Update' : 'Create' %> Question</legend>
			<p>
				<label>Description</label>
				<input type="text" name="description" value="<%= question ? question.get('description') : '' %>"/>
			</p>
			<p>
				<label>Answer</label>
				<input type="text" name="answer" value="<%= question ? question.get('answer') : '' %>"/>
			</p>
			<p>
			<label>Option1</label>
			<input type="text" name="option1" value="<%= question ? question.get('option1') : '' %>"/>
			</p>
			<p>
			<label>Option2</label>
			<input type="text" name="option2" value="<%= question ? question.get('option2') : '' %>"/>
			</p>
			<p>
			<label>Option3</label>
			<input type="text" name="option3" value="<%= question ? question.get('option3') : '' %>"/>
			</p>
			<hr />
			<Button type="submit" class="btn"><%= question ? 'Update' : 'Create' %></Button>
			<% if(question){ %>
				<input type="hidden" name="id" value="<%= question.id %>"/>
				<Button type="button" class="btn btn-danger delete-question">Delete</Button>
			<% }; %>
			
		</form>
	</script>
	<script type="text/template" id="userListTemplate">
		<a href="#/admin/new" class="btn btn-primary"> New User </a>
		<hr />
		<table class='table stripped'> 
			<thead> 
				<tr> 
					<th>Name</th> 
					<th>Last Name</th> 
					<th>User</th> 
					<th>Email</th>
				</tr> 
			</thead> 
			<tbody> 	
				<% _.each(users, function(user) { %>
					<tr>
						<td><%= user.get('name') %></td>
						<td><%= user.get('lastName') %></td>
						<td><%= user.get('user') %></td>
						<td><%= user.get('email') %></td>
						<td><a href="#/admin/edit/<%= user.id %>" class="btn">Edit</a></td>
					</tr>
				<% }) %>		
			</tbody> 
		</table>
	</script>
	<script type="text/template" id="editUserTemplate">
		<form class="edit-user-form">
			<legend><%= user ? 'Update' : 'Create' %> User</legend>
			<p>
				<label>Name</label>
				<input type="text" name="name" value="<%= user ? user.get('name') : '' %>"/>
			</p>
			<p>
				<label>Last Name</label>
				<input type="text" name="lastName" value="<%= user ? user.get('lastName') : '' %>"/>
			</p>
			<p>
				<label>User</label>
				<input type="text" name="user" value="<%= user ? user.get('user') : '' %>"/>
			</p>
			<p>
				<label>Email</label>
				<input type="text" name="email" value="<%= user ? user.get('email') : '' %>"/>
			</p>
			<hr />
			<Button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></Button>
			<% if(user){ %>
				<input type="hidden" name="id" value="<%= user.id %>"/>
				<Button type="button" class="btn btn-danger delete-user">Delete</Button>
			<% }; %>
			
		</form>
	</script>
	<script src="include/jquery.min.js"></script>
	<script src="include/underscore.min.js"></script>
	<script src="include/Backbone.min.js"></script>
	<script src="js/snippets.js"></script>
	<script src="js/backboneHandler.js"></script>
</body>
</html>